<%- include("./layouts/header"); -%>
    <div class="container  mt-4 register">
        <h2 class="page-title">
            Register
        </h2>

        <form method="post" action="/register" class="needs-validation" nonvalidate>

            <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <% if(typeof password !='undefined' && password.length<6 ){ %>
                    <div id="p1">
                        <p style="width:fit-content; margin-top: 2px; height: fit-content; color: red;">
                            Password must be at least 6 characters</p>
                    </div>
                    <% } %>
            </div>


            <div class="form-group mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control"
                    placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <% if(typeof password2 !='undefined' ){ %>
                    <div id="p2">
                        <p id="p2" style="width:fit-content; margin-top: 2px; height: fit-content; color: red;">
                            Passwords do not match
                        </p>
                    </div>
                    <% } %>
            </div>


            <button type="submit" class="btn btn-success">Register</button>
        </form>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
        const password2 = document.getElementById("password2");
        const password = document.getElementById("password");
        const p1 = document.getElementById("p1");
        const p2 = document.getElementById("p2");
        password.addEventListener("input", () => { p1.innerHTML = "" });
        password2.addEventListener("input", () => { p2.innerHTML = "" });
    </script>


    <%- include("./layouts/footer"); -%>